<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>INF-2005-Projet 02</title>
	<!-- Responsive and mobile friendly stuff -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- font-awesome pour les icons -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<!-- my main styles -->
	<link href="assets/css/styles.css" rel="stylesheet" />

	<script type="text/javascript" src="assets/js/jquery-3.1.1.min.js"></script>
</head>
<body>
	<header>
		<div class="site_w">
			<nav>
				<ul>
					<li><a href="../index.html">Accueil</a></li>
					<!--  -->
					<li>
						<a href="#" class="navlink">Sports <i class="fa fa-angle-down" aria-hidden="true"></i></a>
						<ul class="sub_1">
							<li class="tgsb2">
								<a href="#">2002-2003 <i class="fa fa-angle-right" aria-hidden="true"></i></a>
								<ul class="sub_2">
									<li><a href="sport-1.html"><img src="assets/img/sport-1.jpg" alt="photo"></a></li>
									<li><a href="sport-2.html"><img src="assets/img/sport-2.jpg" alt="photo"></a></li>
									<li><a href="sport-3.html"><img src="assets/img/sport-3.jpg" alt="photo"></a></li>
									<li><a href="sport-4.html"><img src="assets/img/sport-4.jpg" alt="photo"></a></li>
									<li><a href="sport-3.html"><img src="assets/img/sport-3.jpg" alt="photo"></a></li>
									<li><a href="sport-2.html"><img src="assets/img/sport-2.jpg" alt="photo"></a></li>
									<li><a href="sport-1.html"><img src="assets/img/sport-1.jpg" alt="photo"></a></li>
									<li><a href="sport-2.html"><img src="assets/img/sport-2.jpg" alt="photo"></a></li>
									<li><a href="sport-4.html"><img src="assets/img/sport-4.jpg" alt="photo"></a></li>
									<li><a href="sport-3.html"><img src="assets/img/sport-3.jpg" alt="photo"></a></li>
									<li><a href="sport-2.html"><img src="assets/img/sport-2.jpg" alt="photo"></a></li>
									<li><a href="sport-1.html"><img src="assets/img/sport-1.jpg" alt="photo"></a></li>
								</ul>
							</li>
							<li class="tgsb2">
								<a href="#">2003-2004 <i class="fa fa-angle-right" aria-hidden="true"></i></a>
								<ul class="sub_2">
									<li><a href="sport-3.html"><img src="assets/img/sport-3.jpg" alt="photo"></a></li>
									<li><a href="sport-2.html"><img src="assets/img/sport-2.jpg" alt="photo"></a></li>
									<li><a href="sport-1.html"><img src="assets/img/sport-1.jpg" alt="photo"></a></li>
									<li><a href="sport-2.html"><img src="assets/img/sport-2.jpg" alt="photo"></a></li>
									<li><a href="sport-4.html"><img src="assets/img/sport-4.jpg" alt="photo"></a></li>
									<li><a href="sport-3.html"><img src="assets/img/sport-3.jpg" alt="photo"></a></li>
								</ul>
							</li>
							<li class="tgsb2">
								<a href="#">2004-2005 <i class="fa fa-angle-right" aria-hidden="true"></i></a>
								<ul class="sub_2">
									<li><a href="sport-4.html"><img src="assets/img/sport-4.jpg" alt="photo"></a></li>
									<li><a href="sport-1.html"><img src="assets/img/sport-1.jpg" alt="photo"></a></li>
									<li><a href="sport-3.html"><img src="assets/img/sport-3.jpg" alt="photo"></a></li>
									<li><a href="sport-2.html"><img src="assets/img/sport-2.jpg" alt="photo"></a></li>
									<li><a href="sport-1.html"><img src="assets/img/sport-1.jpg" alt="photo"></a></li>
									<li><a href="sport-2.html"><img src="assets/img/sport-2.jpg" alt="photo"></a></li>
									<li><a href="sport-4.html"><img src="assets/img/sport-4.jpg" alt="photo"></a></li>
								</ul>
							</li>
						</ul>
					</li>
					<!--  -->
					<li>
						<a href="#" class="navlink">Musique <i class="fa fa-angle-down" aria-hidden="true"></i></a>
						<ul class="sub_1">
							<li class="tgsb2">
								<a href="#">2003-2004 <i class="fa fa-angle-right" aria-hidden="true"></i></a>
								<ul class="sub_2">
									<li><a href="music-1.html"><img src="assets/img/music-1.jpg" alt="photo"></a></li>
									<li><a href="music-2.html"><img src="assets/img/music-2.jpg" alt="photo"></a></li>
									<li><a href="music-3.html"><img src="assets/img/music-3.jpg" alt="photo"></a></li>
									<li><a href="music-4.html"><img src="assets/img/music-4.jpg" alt="photo"></a></li>
									<li><a href="music-3.html"><img src="assets/img/music-3.jpg" alt="photo"></a></li>
									<li><a href="music-4.html"><img src="assets/img/music-4.jpg" alt="photo"></a></li>
									<li><a href="music-1.html"><img src="assets/img/music-1.jpg" alt="photo"></a></li>
									<li><a href="music-2.html"><img src="assets/img/music-2.jpg" alt="photo"></a></li>
								</ul>
							</li>
							<li class="tgsb2">
								<a href="#">2004-2005 <i class="fa fa-angle-right" aria-hidden="true"></i></a>
								<ul class="sub_2">
									<li><a href="music-3.html"><img src="assets/img/music-3.jpg" alt="photo"></a></li>
									<li><a href="music-4.html"><img src="assets/img/music-4.jpg" alt="photo"></a></li>
									<li><a href="music-1.html"><img src="assets/img/music-1.jpg" alt="photo"></a></li>
									<li><a href="music-4.html"><img src="assets/img/music-4.jpg" alt="photo"></a></li>
									<li><a href="music-2.html"><img src="assets/img/music-2.jpg" alt="photo"></a></li>
								</ul>
							</li>
						</ul>
					</li>
					<!--  -->
					<li>
						<a href="#" class="navlink">Voyages<i class="fa fa-angle-down" aria-hidden="true"></i></a>
						<ul class="sub_1">
							<li class="tgsb2">
								<a href="#">2003-2004 <i class="fa fa-angle-right" aria-hidden="true"></i></a>
								<ul class="sub_2">
									<li><a href="all-1.html"><img src="assets/img/all-1.jpg" alt="photo"></a></li>
									<li><a href="all-2.html"><img src="assets/img/all-2.jpg" alt="photo"></a></li>
									<li><a href="all-3.html"><img src="assets/img/all-3.jpg" alt="photo"></a></li>
									<li><a href="all-4.html"><img src="assets/img/all-4.jpg" alt="photo"></a></li>
									<li><a href="all-3.html"><img src="assets/img/all-3.jpg" alt="photo"></a></li>
									<li><a href="all-4.html"><img src="assets/img/all-4.jpg" alt="photo"></a></li>
									<li><a href="all-1.html"><img src="assets/img/all-1.jpg" alt="photo"></a></li>
									<li><a href="all-2.html"><img src="assets/img/all-2.jpg" alt="photo"></a></li>
								</ul>
							</li>
							<li class="tgsb2">
								<a href="#">2004-2005 <i class="fa fa-angle-right" aria-hidden="true"></i></a>
								<ul class="sub_2">
									<li><a href="all-3.html"><img src="assets/img/all-3.jpg" alt="photo"></a></li>
									<li><a href="all-4.html"><img src="assets/img/all-4.jpg" alt="photo"></a></li>
									<li><a href="all-1.html"><img src="assets/img/all-1.jpg" alt="photo"></a></li>
									<li><a href="all-2.html"><img src="assets/img/all-2.jpg" alt="photo"></a></li>
									<li><a href="all-4.html"><img src="assets/img/all-4.jpg" alt="photo"></a></li>
									<li><a href="all-2.html"><img src="assets/img/all-2.jpg" alt="photo"></a></li>
								</ul>
							</li>
						</ul>
					</li>
					<!--  -->
					<li>
						<a href="#" class="navlink">Amis <i class="fa fa-angle-down" aria-hidden="true"></i></a>
						<ul class="sub_1">
							<li class="tgsb2">
								<a href="#">2003-2004 <i class="fa fa-angle-right" aria-hidden="true"></i></a>
								<ul class="sub_2">
									<li><a href="all-3.html"><img src="assets/img/all-3.jpg" alt="photo"></a></li>
									<li><a href="all-4.html"><img src="assets/img/all-4.jpg" alt="photo"></a></li>
									<li><a href="all-1.html"><img src="assets/img/all-1.jpg" alt="photo"></a></li>
									<li><a href="all-2.html"><img src="assets/img/all-2.jpg" alt="photo"></a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
		<div class="clear"></div>
	</header>
	<!-- maincontainer -->
	<div class="maincontainer">
		<div class="wraper site_w">
			<img src="assets/img/all-3.jpg" alt="photo">
			<h1>Content page 03</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus unde dolorem molestias, amet officiis veniam voluptas, nisi quaerat incidunt. Eos quibusdam placeat ea quam! Perspiciatis blanditiis doloribus animi cumque, recusandae.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure quasi sed quia mollitia reiciendis! Excepturi, ducimus! Esse fugiat reprehenderit architecto incidunt in modi doloribus itaque, deserunt libero quas, repellendus ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam, dolores deserunt assumenda architecto vel et commodi sint rem esse quam eveniet, quia natus voluptas culpa sunt praesentium laborum tenetur.</p>
		</div>
	</div>
</body>
</html>
